#!/bin/bash

export HOLDER_ACCOUNT_MNEMONIC='gate victory assist tag thought ice bottom proof swarm kingdom dragon right mansion save advice analyst myself lucky better palm travel oak cry abandon bright'

# algo node
export ALGO_HOST_URL='http://localhost'
export ALGO_HOST_PORT='4001'
export ALGO_HOST_ACCESS_TOKEN='aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'

# plato asa
export PLATO_ASA_TOTAL='1000000000000000'
export PLATO_ASA_DECIMAL='4'
export PLATO_ASA_DEFAULT_FROZEN='false'
export PLATO_ASA_UNIT_NAME='PLTO'
export PLATO_ASA_ASSET_NAME='Plato Token'
export PLATO_ASA_URL='plato.labs.com'
export PLATO_ASA_NOTE='sample note'
export PLATO_ASA_MANAGER=''
export PLATO_ASA_RESERVE=''
export PLATO_ASA_FREEZE=''
export PLATO_ASA_CLAWBACK=''
export PLATO_ASA_METADATA_HASH=''

# referral reward app
export REWARD_APP_INITIAL_PLATO_ASA_AMOUNT='5000000'
export REWARD_APP_INITIAL_ALGO_AMOUNT='1000000' # microAlgos
